@model Backend.Entities.Sesion

<div>
    <h4 class="text-center">Session details</h4>

    <hr />

    <div>
        <p><strong>@Html.DisplayNameFor(model => model.Id)</strong>: @Html.DisplayFor(model => model.Id)</p>
        <p><strong>@Html.DisplayNameFor(model => model.Description)</strong>: @Html.DisplayFor(model => model.Description)</p>
        <p><strong>@Html.DisplayNameFor(model => model.Hour)</strong>: @Html.DisplayFor(model => model.Hour)</p>
        <p><strong>@Html.DisplayNameFor(model => model.Created)</strong>: @Html.DisplayFor(model => model.Created)</p>
    </div>
</div>