@model IncidentViewModelEdit

@{
    ViewBag.title = "Sessions";
    var URLGetSessions = Url.Action("GetSesionsByIncident", "Sesion");
    var URLDeleteSessions = Url.Action("Delete", "Sesion");
    var URLDetailsSessions = Url.Action("Details", "Sesion");
    var URLCreateSessions = Url.Action("Create", "Sesion");
}

@section styles{
    <link href="~/lib/timeline/dist/css/jtimeline.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3 j-df j-color-text j-jc-center">
                <h6>Details</h6>
            </div>

            <div class="card-body">
                <p>Number: @Model.Id</p>
                <p>Theme: @Model.Theme</p>
                <p>Created: @Model.Created</p>
                <hr />
                <p>Description: @Model.Description</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 j-df j-color-text j-jc-center">
                <h6>Sessions for the incident @Model.Theme</h6>
            </div>

            <div class="card-body">
                <div class="mb-5 pb-1 d-flex justify-content-between border-bottom">
                    <div class="">
                        <p>Sessions view in timeline</p>
                        <p class="small"><strong><span id="total-hours"></span></strong> hours recorded in attention to the incident</p>
                    </div>
                    <div class="text-center">
                        <p>Options</p>
                        <button id="add-btn" data-id="@Model.Id" class="btn bg-transparent" title="Add"><i class="fas fa-plus"></i></button>
                        <button id="refresh-btn" class="btn bg-transparent" title="Refresh"><i class="fas fa-sync"></i></button>
                    </div>
                </div>

                <div id="jtimeline-demo" class="jtimeline hide">
                    <ul class="jtimeline-events" id="jtimeline-events">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal HTML embedded directly into document -->
<div id="ex1" class="modal">
    <div class="text-right text-danger">
        <a href="#" rel="modal:close"><i class="fas fa-window-close" id="close-modal"></i></a>
    </div>

    <div id="modal-content">

    </div>
</div>

@section scripts{
    <script src="~/lib/timeline/dist/js/jtimeline.js"></script>
    <script>
        var $timeline = $('#jtimeline-demo');
        var $timelineItems = $('#jtimeline-events');
        var $refrehButton = $("#refresh-btn");
        var $totalHoursLabel = $("#total-hours");
        var initialTimestamp = new Date('@Model.Created').getTime() / 1000;
        var initialTitle = 'The ticket has been created! <br> <strong>@Model.Created.ToShortDateString()</strong>';
        var $modalContent = $("#modal-content");
        var $addSessionBtn = $("#add-btn");
        var $closeModalBtn = $("#close-modal");

        function SetOrRefreshTimelineSessions(){
            $.post('@URLGetSessions', {incidentId: @Model.Id}, function (data) {
                let items = [];
                let totalHours = 0;

                items.push("<li class='jtimeline-event is-active' data-timestamp='" + initialTimestamp + "'><div>" + initialTitle + "</div></li>");

                $.each(data, function (key, val) {
                    totalHours += val.hour;
                    let sessionId = val.id;
                    let dateCreated = new Date(val.created);
                    let timestamp = dateCreated.getTime() / 1000;
                    let title = "Session id: "+ val.id + "<br><strong>Created in: " + dateCreated.toLocaleDateString() + " (" + val.hour + " hours worked)</strong><br><i id='detail-session' class='mr-2 fas fa-eye text-info pointer' title='Details' data-id='" + sessionId + "'></i><i id='delete-session' class='fas fa-trash text-danger pointer' title='Delete' data-id='" + sessionId +"'></i>"
                    items.push("<li class='jtimeline-event' data-timestamp='" + timestamp + "'><div>" + title + "</div></li>");
                });

                $timelineItems.html(items);
                $totalHoursLabel.html(totalHours);

                $timeline.jTimeline();
            });
        }

        $refrehButton.on("click", function () { SetOrRefreshTimelineSessions() });

        $("body").on("click", "#delete-session", function(e){
            e.preventDefault();

            let element = $(this);
            let id = element.data("id");

            $.post('@URLDeleteSessions', { id }, function (result) {
                if (result) {
                    SetOrRefreshTimelineSessions();
                    Snackbar.show({ pos: 'bottom-right', text: "Session deleted", actionText: 'Ok!', });
                    return;
                }
            });
        });

        $("body").on("click", "#detail-session", function(e) {
            e.preventDefault();

            let element = $(this);
            let id = element.data("id");

            $modalContent.html("<div class='d-flex justify-content-center align-items-center h-100'><div class='lds-ellipsis'><div></div><div></div><div></div><div></div></div></div>");

            $("#ex1").modal({
                fadeDuration: 100,
                escapeClose: false,
                clickClose: false,
                showClose: false
            });

            $.get("@URLDetailsSessions", { id }, function (response, status, xhr) {
                if (status == "error") {
                    var msg = "Sorry but there was an error: ";
                    $modalContent.html(msg + xhr.status + " " + xhr.statusText);
                    return;
                }

                $modalContent.html(response);
            });
        });

        $addSessionBtn.on("click", function(e) {
            e.preventDefault();

            let element = $(this);
            let id = element.data("id");

            $modalContent.html("<div class='lds-ellipsis'><div></div><div></div><div></div><div></div></div>");

            $("#ex1").modal({
                fadeDuration: 100,
                escapeClose: false,
                clickClose: false,
                showClose: false
            });

            $.get("@URLCreateSessions", { id }, function (response, status, xhr) {
                if (status == "error") {
                    var msg = "Sorry but there was an error: ";
                    $modalContent.html(msg + xhr.status + " " + xhr.statusText);
                    return;
                }

                $modalContent.html(response);
            });
        });

        SetOrRefreshTimelineSessions()
    </script>
}